body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  padding: 2rem;
}

#result {
  width: 100%;
}

textarea {
  width: 100%;
}

.important {
  font-weight: 700;
}

.error {
  color: red;
  white-space: pre;
}